<div class="container">
  <div class="back mt-2 rounded px-2">
    <h5 routerLink="/product"><i class="fa-solid fa-arrow-right-from-bracket"></i> Go Back</h5>
  </div>
  <div class="form border p-3 mt-3 rounded">
    <h1 class="text-center">LogIn</h1>
    <div class="email">
      <label for="email">Email</label>
      <input class="form-control shadow-none" type="email" id="email" placeholder="Enter Your Email">
    </div>
    <div class="password my-3">
      <label for="password">Password</label>
      <input class="form-control shadow-none" type="password" id="password" placeholder="Enter Your Password">
    </div>
    <button class="btn px-3 text-white fw-bold" routerLink="/product">Submit</button>
  </div>
</div>
