<div class="container">
  <div class="back mt-2 rounded px-2">
    <h5 routerLink="/product"><i class="fa-solid fa-arrow-right-from-bracket"></i> Go Back</h5>
  </div>
  <div class="form border p-3 mt-3 rounded">
    <h1 class="text-center">SignUp</h1>
    <div class="name">
      <label for="name">Name</label>
      <input class="form-control shadow-none" type="name" id="name" placeholder="Enter Your Name">
    </div>
    <div class="phone my-2">
      <label for="phone">Phone</label>
      <input class="form-control shadow-none" type="tel" id="phone" placeholder="Enter Your Phone">
    </div>
    <div class="age">
      <label for="age">Age</label>
      <input class="form-control shadow-none" type="number" id="age" placeholder="Enter Your Age">
    </div>
    <div class="email my-2">
      <label for="email">Email</label>
      <input class="form-control shadow-none" type="email" id="email" placeholder="Enter Your Email">
    </div>
    <div class="password">
      <label for="password">Password</label>
      <input class="form-control shadow-none" type="password" id="password" placeholder="Enter Your Password">
    </div>
    <div class="repassword my-2">
      <label for="repassword">rePassword</label>
      <input class="form-control shadow-none" type="password" id="repassword" placeholder="rePassword">
    </div>
    <button class="btn px-3 text-white fw-bold" routerLink="/login">Submit</button>
  </div>
</div>
